/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  font-size: 62.5%;
  color: #ffffff;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:active {
  color: #ffffff;
}
a:focus {
  outline: none;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  min-width: 375px;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

#l-container, body.appear #l-container__home {
  background-image: url(../../images/container_background-image-pc.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-width: 374px;
  min-height: 666px;
}
#l-container__home {
  opacity: 0;
}

body.appear #l-container__home {
  -webkit-animation-name: PageAnimeAppear;
          animation-name: PageAnimeAppear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#l-header {
  height: 70px;
  margin-bottom: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-circle__main, .c-circle__menu {
  width: 28vh;
  height: 28vh;
  border: #740A00 2px solid;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
}
.c-circle__principal, .c-circle__principal--skill {
  width: 70vh;
  height: 70vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: #000000 3px solid;
  border-radius: 35vh;
}
.c-circle__principal--about {
  width: 70vh;
  height: 70vh;
  background-image: url(../../../images/circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 35vh;
}
.c-circle__principal--skill {
  background-color: rgba(116, 10, 0, 0.5);
}
.c-circle__menu {
  width: 14vh;
  height: 14vh;
}

.c-font__header-menu {
  font-family: "Shippori Mincho", serif;
  color: #D20A13;
  font-size: 1.8rem;
  font-weight: 500;
}
.c-font__main {
  font-family: "Shippori Mincho", serif;
  color: #FF3E2C;
  font-size: 18vh;
  font-weight: 700;
}
.c-font__main-menu--list {
  font-family: "Shippori Mincho", serif;
  color: #740A00;
  font-size: 7.5vh;
  font-weight: 600;
}
.c-font__scroll {
  font-family: "Shippori Mincho", serif;
  color: #D20A13;
  font-size: 2.7vh;
  font-weight: 500;
}
.c-font__footer-menu {
  font-family: "Shippori Mincho", serif;
  color: #D20A13;
  font-size: 1.8rem;
  font-weight: 500;
}
.c-font__feature--text {
  font-family: shinryu, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 2.5vh;
  text-align: start;
}
.c-font__swiper {
  font-family: "Shippori Mincho", serif;
  color: #FF3E2C;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 4px;
}
.c-font__about {
  display: inline-block;
  cursor: pointer;
  font-family: "Shippori Mincho", serif;
  color: #FF3E2C;
  font-size: 3.2rem;
}
.c-font__skill-detail {
  font-family: shinryu, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 2vh;
  text-align: start;
  width: 50vh;
}

.c-link__header-menu--en {
  display: inline-block;
  width: 84px;
}
.c-link__header-menu--ja {
  display: inline-block;
  width: 84px;
}

.c-title__main {
  font-family: "Shippori Mincho", serif;
  color: #FF3E2C;
  font-size: 18vh;
  font-weight: 700;
}
.c-title__feature--title {
  opacity: 0.8;
  width: 35vh;
  margin: auto;
}
.c-title__skill-font {
  font-family: kokuryu, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 5vh;
  font-weight: bold;
  text-align: center;
}

.c-img__scroll {
  height: 8vh;
  width: 14px;
}
.c-img__swiper {
  -o-object-fit: contain;
     object-fit: contain;
  width: auto;
  height: 100%;
  border-radius: 50%;
}

.c-icon__feature--twitter, .c-icon__feature--github {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 35vh;
  background-image: url(../../../images/skill-icon/twitter.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  opacity: 0.8;
}
.c-icon__feature--github {
  background-image: url(../../../images/skill-icon/github.svg);
  background-color: white;
}
.c-icon__circle--html, .c-icon__circle--figma, .c-icon__circle--xd, .c-icon__circle--ps, .c-icon__circle--ai, .c-icon__circle--wp, .c-icon__circle--js, .c-icon__circle--css {
  width: 10vh;
  height: 10vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: #000000 0.5px solid;
  border-radius: 35vh;
  background-image: url(../../../images/skill-icon/html-5.svg);
  background-color: #000000;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
.c-icon__circle--css {
  background-image: url(../../../images/skill-icon/css.svg);
  background-position: center;
  background-size: 80%;
}
.c-icon__circle--js {
  background-image: url(../../../images/skill-icon/javascript.svg);
  background-size: 100%;
}
.c-icon__circle--wp {
  background-image: url(../../../images/skill-icon/wordpress-icon.svg);
  background-size: 100%;
  background-color: white;
}
.c-icon__circle--ai {
  background-image: url(../../../images/skill-icon/illustrator.svg);
  background-size: 10.5vh;
}
.c-icon__circle--ps {
  background-image: url(../../../images/skill-icon/photoshop.svg);
  background-size: 10.5vh;
}
.c-icon__circle--xd {
  background-image: url(../../../images/skill-icon/xd.svg);
  background-size: 10.5vh;
}
.c-icon__circle--figma {
  background-image: url(../../../images/skill-icon/figma.svg);
  background-size: 100%;
}

.p-header__link--front {
  display: inline-block;
  width: 300px;
  height: 100%;
}
.p-header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.p-header__list {
  width: 100px;
  padding: 6px 8px;
  margin: 4px 8px;
  text-align: center;
  position: relative;
}
.p-header__list a:nth-of-type(2) {
  width: 84px;
  position: absolute;
  left: 50%;
  top: calc(50% - 1.3rem);
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  opacity: 0;
}
.p-header__list:hover a:first-of-type {
  -webkit-animation-name: kf-3d-rotate-anime;
          animation-name: kf-3d-rotate-anime;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.p-header__list:hover a:nth-of-type(2) {
  -webkit-animation-name: kf-opacity-anime;
          animation-name: kf-opacity-anime;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes kf-3d-rotate-anime {
  0% {
    -webkit-transform: rotate3d(0, -1, 0, 0deg);
            transform: rotate3d(0, -1, 0, 0deg);
    opacity: 1;
  }
  25% {
    -webkit-transform: rotate3d(0, -1, 0, 45deg);
            transform: rotate3d(0, -1, 0, 45deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate3d(0, -1, 0, 90deg);
            transform: rotate3d(0, -1, 0, 90deg);
    opacity: 1;
  }
  75% {
    -webkit-transform: rotate3d(0, -1, 0, 135deg);
            transform: rotate3d(0, -1, 0, 135deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(0, -1, 0, 180deg);
            transform: rotate3d(0, -1, 0, 180deg);
    opacity: 0;
  }
}

@keyframes kf-3d-rotate-anime {
  0% {
    -webkit-transform: rotate3d(0, -1, 0, 0deg);
            transform: rotate3d(0, -1, 0, 0deg);
    opacity: 1;
  }
  25% {
    -webkit-transform: rotate3d(0, -1, 0, 45deg);
            transform: rotate3d(0, -1, 0, 45deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate3d(0, -1, 0, 90deg);
            transform: rotate3d(0, -1, 0, 90deg);
    opacity: 1;
  }
  75% {
    -webkit-transform: rotate3d(0, -1, 0, 135deg);
            transform: rotate3d(0, -1, 0, 135deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(0, -1, 0, 180deg);
            transform: rotate3d(0, -1, 0, 180deg);
    opacity: 0;
  }
}
@-webkit-keyframes kf-opacity-anime {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes kf-opacity-anime {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.p-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-wrapper__swiper {
  position: relative;
  width: 1000px;
  height: 600px;
  margin: auto;
  background-image: url(../../../images/eye.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.p-wrapper__swiper .swiper {
  height: 100%;
}
.p-wrapper__swiper .swiper-slide {
  height: 100%;
}
.p-wrapper__swiper .swiper-slide img {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}
.p-wrapper__swiper .swiper-slide p {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}
.p-wrapper__swiper .swiper-slide-active img {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.p-wrapper__swiper .swiper-slide-active p {
  opacity: 1;
}
.p-wrapper__slide {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.p-wrapper__slide--img {
  margin: auto;
  width: 400px;
  height: 400px;
}
.p-wrapper__slide--title {
  width: 300px;
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.p-wrapper__footer {
  width: 50vh;
}
.p-wrapper__footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-area {
  position: relative;
}
.p-area__main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  line-height: 28vh;
}
.p-area__front-menu--lv1, .p-area__front-menu--lv3, .p-area__front-menu--lv2 {
  position: absolute;
  text-align: center;
  line-height: 14vh;
}
.p-area__scroll {
  display: inline-block;
  text-align: center;
  width: 70vh;
  position: absolute;
  top: 52vh;
  left: 34vh;
}
.p-area__scroll--img {
  -webkit-animation-name: kf-scroll-anime;
          animation-name: kf-scroll-anime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.p-area__scroll--font {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  left: -5px;
  top: 13px;
}

@-webkit-keyframes kf-scroll-anime {
  0%, 50%, 100% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  30%, 70% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes kf-scroll-anime {
  0%, 50%, 100% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  30%, 70% {
    -webkit-transform: none;
            transform: none;
  }
}
.p-about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.p-about__left, .p-about__right {
  width: 250px;
  text-align: center;
}
.p-about__term--left, .p-about__term--right {
  position: absolute;
  top: 0;
  left: 250px;
  width: 70vh;
  height: 70vh;
}
.p-about__item--html dl {
  z-index: -1;
}
.p-about__item--html dt {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.p-about__item--html dd {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.p-about__item--html:hover dl {
  -webkit-transition: all;
  transition: all;
  z-index: 100;
}
.p-about__item--html:hover dt {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.p-about__item--html:hover dd {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.p-about__item--css dl {
  z-index: -1;
}
.p-about__item--css dt {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.p-about__item--css dd {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.p-about__item--css:hover dl {
  -webkit-transition: all;
  transition: all;
  z-index: 100;
}
.p-about__item--css:hover dt {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.p-about__item--css:hover dd {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.p-about__item--js dl {
  z-index: -1;
}
.p-about__item--js dt {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.p-about__item--js dd {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.p-about__item--js:hover dl {
  -webkit-transition: all;
  transition: all;
  z-index: 100;
}
.p-about__item--js:hover dt {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.p-about__item--js:hover dd {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.p-about__item--wp dl {
  z-index: -1;
}
.p-about__item--wp dt {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.p-about__item--wp dd {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.p-about__item--wp:hover dl {
  -webkit-transition: all;
  transition: all;
  z-index: 100;
}
.p-about__item--wp:hover dt {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.p-about__item--wp:hover dd {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.p-about__item--ai dl {
  z-index: -1;
}
.p-about__item--ai dt {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.p-about__item--ai dd {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.p-about__item--ai:hover dl {
  -webkit-transition: all;
  transition: all;
  z-index: 100;
}
.p-about__item--ai:hover dt {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.p-about__item--ai:hover dd {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.p-about__item--ps dl {
  z-index: -1;
}
.p-about__item--ps dt {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.p-about__item--ps dd {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.p-about__item--ps:hover dl {
  -webkit-transition: all;
  transition: all;
  z-index: 100;
}
.p-about__item--ps:hover dt {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.p-about__item--ps:hover dd {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.p-about__item--xd dl {
  z-index: -1;
}
.p-about__item--xd dt {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.p-about__item--xd dd {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.p-about__item--xd:hover dl {
  -webkit-transition: all;
  transition: all;
  z-index: 100;
}
.p-about__item--xd:hover dt {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.p-about__item--xd:hover dd {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.p-about__item--figma dl {
  z-index: -1;
}
.p-about__item--figma dt {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.p-about__item--figma dd {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.p-about__item--figma:hover dl {
  -webkit-transition: all;
  transition: all;
  z-index: 100;
}
.p-about__item--figma:hover dt {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.p-about__item--figma:hover dd {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.p-about__center {
  position: relative;
}
.p-about__center ul {
  display: block;
}
.p-about__icon--html, .p-about__icon--figma, .p-about__icon--xd, .p-about__icon--ps, .p-about__icon--ai, .p-about__icon--wp, .p-about__icon--js, .p-about__icon--css {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
}
.p-feature__title {
  -webkit-animation-name: title-glitch;
          animation-name: title-glitch;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.p-feature__text {
  width: 50vh;
  height: 36vh;
  overflow: hidden;
}
.p-feature__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.p-feature__icon {
  width: 8vh;
  height: 8vh;
}
.p-feature__icon a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes title-glitch {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  33% {
    -webkit-transform: none;
            transform: none;
  }
  33.3% {
    -webkit-transform: skewX(30deg);
            transform: skewX(30deg);
  }
  33.6% {
    -webkit-transform: skewX(-30deg);
            transform: skewX(-30deg);
  }
  33.9% {
    -webkit-transform: none;
            transform: none;
  }
  66% {
    -webkit-transform: none;
            transform: none;
  }
  66.3% {
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
  }
  66.6% {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
  }
  66.9% {
    -webkit-transform: none;
            transform: none;
  }
  77% {
    -webkit-transform: none;
            transform: none;
  }
  77.3% {
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg);
  }
  77.6% {
    -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg);
  }
  77.9% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes title-glitch {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  33% {
    -webkit-transform: none;
            transform: none;
  }
  33.3% {
    -webkit-transform: skewX(30deg);
            transform: skewX(30deg);
  }
  33.6% {
    -webkit-transform: skewX(-30deg);
            transform: skewX(-30deg);
  }
  33.9% {
    -webkit-transform: none;
            transform: none;
  }
  66% {
    -webkit-transform: none;
            transform: none;
  }
  66.3% {
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
  }
  66.6% {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
  }
  66.9% {
    -webkit-transform: none;
            transform: none;
  }
  77% {
    -webkit-transform: none;
            transform: none;
  }
  77.3% {
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg);
  }
  77.6% {
    -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg);
  }
  77.9% {
    -webkit-transform: none;
            transform: none;
  }
}
.deviation {
  display: none;
}

body.appear .deviation {
  display: block;
  width: 100vw;
  height: 100vh;
  position: relative;
}
body.appear .deviation::before {
  left: 0;
  clip: rect(0px 50vw 100vh 0px);
  -webkit-animation-name: fadeInAnimeLeft;
          animation-name: fadeInAnimeLeft;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body.appear .deviation::after {
  right: 0;
  clip: rect(0px 100vw 100vh 50vw);
  -webkit-animation-name: fadeInAnimeRight;
          animation-name: fadeInAnimeRight;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body.appear .deviation::before, body.appear .deviation::after {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../images/deviation/husuma.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  overflow: hidden;
}
body.appear .deviation__main {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../images/deviation/husuma2.jpg);
  background-size: 100%;
  z-index: 10;
}
body.appear .deviation__icon--eye {
  width: 100px;
  height: 100px;
  background: url(imges/icon.jpg) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 11;
  -webkit-animation-name: animeOpacity;
          animation-name: animeOpacity;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnimeLeft {
  from {
    -webkit-transform: translate(-30, 0);
            transform: translate(-30, 0);
  }
  to {
    -webkit-transform: translate(-100px, 0);
            transform: translate(-100px, 0);
  }
}

@keyframes fadeInAnimeLeft {
  from {
    -webkit-transform: translate(-30, 0);
            transform: translate(-30, 0);
  }
  to {
    -webkit-transform: translate(-100px, 0);
            transform: translate(-100px, 0);
  }
}
@-webkit-keyframes fadeInAnimeRight {
  from {
    -webkit-transform: translate(30, 0);
            transform: translate(30, 0);
  }
  to {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
}
@keyframes fadeInAnimeRight {
  from {
    -webkit-transform: translate(30, 0);
            transform: translate(30, 0);
  }
  to {
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
}
@-webkit-keyframes animeOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animeOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.u-margin__feature--title {
  margin-top: 8vh;
}
.u-margin__feature--text {
  margin: auto;
  margin-top: 4vh;
}
.u-margin__term {
  margin-top: 4vh;
}
.u-margin__detail {
  margin: auto;
  margin-top: 8vh;
}

.pace-running {
  background-color: black;
  width: 100%;
  height: 100%;
}

.pace-running #l-container {
  opacity: 0 !important;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: -90px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 50px;
}

.pace .pace-progress {
  -webkit-transform: none !important;
          transform: none !important;
  text-align: center;
  font-size: 2rem;
  font-family: Helvetica, serif;
  color: #740A00;
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: block;
}

.pace.pace-inactive {
  display: none;
}

.pace-progress-inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pace-progress-inner .loader {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  width: 60px;
  position: relative;
  -webkit-animation: spinnerAnimation infinite 1500ms ease;
          animation: spinnerAnimation infinite 1500ms ease;
}
.pace-progress-inner .loader__orbit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 1.8px solid #740A00;
}
.pace-progress-inner .loader__circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  width: 60px;
  color: #740A00;
  display: block;
  border-radius: 50%;
  position: relative;
  border: 6px solid #740A00;
  -webkit-animation: circleAnimation infinite 1500ms ease;
          animation: circleAnimation infinite 1500ms ease;
  -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
}

@-webkit-keyframes spinnerAnimation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinnerAnimation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes circleAnimation {
  0% {
    border-color: transparent;
    border-top-color: inherit;
  }
  16.7% {
    border-color: transparent;
    border-top-color: initial;
    border-right-color: initial;
  }
  33.4% {
    border-color: transparent;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
  }
  50% {
    border-color: inherit;
  }
  62.5% {
    border-color: inherit;
  }
  75% {
    border-color: inherit;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  87.5% {
    border-color: inherit;
  }
  100% {
    border-color: transparent;
    border-top-color: inherit;
  }
}
@keyframes circleAnimation {
  0% {
    border-color: transparent;
    border-top-color: inherit;
  }
  16.7% {
    border-color: transparent;
    border-top-color: initial;
    border-right-color: initial;
  }
  33.4% {
    border-color: transparent;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
  }
  50% {
    border-color: inherit;
  }
  62.5% {
    border-color: inherit;
  }
  75% {
    border-color: inherit;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  87.5% {
    border-color: inherit;
  }
  100% {
    border-color: transparent;
    border-top-color: inherit;
  }
}