/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  font-size: 62.5%;
  color: #ffffff;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:active {
  color: #ffffff;
}
a:focus {
  outline: none;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  min-width: 375px;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

#l-container {
  background-image: url(../../images/container_background-image-pc.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-width: 374px;
  min-height: 666px;
}

#l-header {
  height: 70px;
  margin-bottom: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.c-circle__main, .c-circle__menu {
  width: 28vh;
  height: 28vh;
  border: #740A00 2px solid;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
}
.c-circle__principal, .c-circle__principal--skill {
  width: 70vh;
  height: 70vh;
  box-sizing: border-box;
  border: #000000 3px solid;
  border-radius: 35vh;
}
.c-circle__principal--about {
  width: 70vh;
  height: 70vh;
  background-image: url(../../../images/circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 35vh;
}
.c-circle__principal--skill {
  background-color: rgba(116, 10, 0, 0.5);
}
.c-circle__menu {
  width: 14vh;
  height: 14vh;
}

.c-font__header-menu {
  font-family: "Shippori Mincho", serif;
  color: #D20A13;
  font-size: 1.8rem;
  font-weight: 500;
}
.c-font__main {
  font-family: "Shippori Mincho", serif;
  color: #FF3E2C;
  font-size: 18vh;
  font-weight: 700;
}
.c-font__main-menu--list {
  font-family: "Shippori Mincho", serif;
  color: #740A00;
  font-size: 7.5vh;
  font-weight: 600;
}
.c-font__scroll {
  font-family: "Shippori Mincho", serif;
  color: #D20A13;
  font-size: 2.7vh;
  font-weight: 500;
}
.c-font__footer-menu {
  font-family: "Shippori Mincho", serif;
  color: #D20A13;
  font-size: 1.8rem;
  font-weight: 500;
}
.c-font__feature--text {
  font-family: ab-nara, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 2.5vh;
  text-align: start;
}
.c-font__swiper {
  font-family: "Shippori Mincho", serif;
  color: #FF3E2C;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 4px;
}
.c-font__about {
  cursor: pointer;
  font-family: "Shippori Mincho", serif;
  color: #FF3E2C;
  font-size: 3.2rem;
}
.c-font__skill-detail {
  font-family: ab-nara, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 2vh;
  text-align: start;
  width: 50vh;
}

.c-link__header-menu--en {
  display: inline-block;
  width: 84px;
}
.c-link__header-menu--ja {
  display: inline-block;
  width: 84px;
}

.c-title__main {
  font-family: "Shippori Mincho", serif;
  color: #FF3E2C;
  font-size: 18vh;
  font-weight: 700;
}
.c-title__feature--title {
  opacity: 0.8;
  width: 35vh;
  margin: auto;
}
.c-title__skill-font {
  font-family: ab-nara, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 5vh;
  font-weight: bold;
  text-align: center;
}

.c-img__scroll {
  height: 8vh;
  width: 14px;
}
.c-img__swiper {
  -o-object-fit: contain;
     object-fit: contain;
  width: auto;
  height: 100%;
  border-radius: 50%;
}

.c-icon__feature--twitter, .c-icon__feature--github {
  box-sizing: border-box;
  border-radius: 35vh;
  background-image: url(../../../images/skill-icon/twitter.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  opacity: 0.8;
}
.c-icon__feature--github {
  background-image: url(../../../images/skill-icon/github.svg);
  background-color: white;
}
.c-icon__circle--html, .c-icon__circle--figma, .c-icon__circle--xd, .c-icon__circle--ps, .c-icon__circle--ai, .c-icon__circle--wp, .c-icon__circle--js, .c-icon__circle--css {
  width: 10vh;
  height: 10vh;
  box-sizing: border-box;
  border: #000000 0.5px solid;
  border-radius: 35vh;
  background-image: url(../../../images/skill-icon/html-5.svg);
  background-color: #000000;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
.c-icon__circle--css {
  background-image: url(../../../images/skill-icon/css.svg);
  background-position: center;
  background-size: 80%;
}
.c-icon__circle--js {
  background-image: url(../../../images/skill-icon/javascript.svg);
  background-size: 100%;
}
.c-icon__circle--wp {
  background-image: url(../../../images/skill-icon/wordpress-icon.svg);
  background-size: 100%;
  background-color: white;
}
.c-icon__circle--ai {
  background-image: url(../../../images/skill-icon/illustrator.svg);
  background-size: 10.5vh;
}
.c-icon__circle--ps {
  background-image: url(../../../images/skill-icon/photoshop.svg);
  background-size: 10.5vh;
}
.c-icon__circle--xd {
  background-image: url(../../../images/skill-icon/xd.svg);
  background-size: 10.5vh;
}
.c-icon__circle--figma {
  background-image: url(../../../images/skill-icon/figma.svg);
  background-size: 100%;
}

.p-header__link--front {
  display: inline-block;
  width: 300px;
  height: 100%;
}
.p-header__menu ul {
  display: flex;
  flex-direction: row;
}
.p-header__list {
  width: 100px;
  padding: 6px 8px;
  margin: 4px 8px;
  text-align: center;
  position: relative;
}
.p-header__list a:nth-of-type(2) {
  width: 84px;
  position: absolute;
  left: 50%;
  top: calc(50% - 1.3rem);
  transform: translate(-50%, 0%);
  opacity: 0;
}
.p-header__list:hover a:first-of-type {
  -webkit-animation-name: kf-3d-rotate-anime;
          animation-name: kf-3d-rotate-anime;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.p-header__list:hover a:nth-of-type(2) {
  -webkit-animation-name: kf-opacity-anime;
          animation-name: kf-opacity-anime;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes kf-3d-rotate-anime {
  0% {
    transform: rotate3d(0, -1, 0, 0deg);
    opacity: 1;
  }
  25% {
    transform: rotate3d(0, -1, 0, 45deg);
    opacity: 1;
  }
  50% {
    transform: rotate3d(0, -1, 0, 90deg);
    opacity: 1;
  }
  75% {
    transform: rotate3d(0, -1, 0, 135deg);
    opacity: 0;
  }
  100% {
    transform: rotate3d(0, -1, 0, 180deg);
    opacity: 0;
  }
}

@keyframes kf-3d-rotate-anime {
  0% {
    transform: rotate3d(0, -1, 0, 0deg);
    opacity: 1;
  }
  25% {
    transform: rotate3d(0, -1, 0, 45deg);
    opacity: 1;
  }
  50% {
    transform: rotate3d(0, -1, 0, 90deg);
    opacity: 1;
  }
  75% {
    transform: rotate3d(0, -1, 0, 135deg);
    opacity: 0;
  }
  100% {
    transform: rotate3d(0, -1, 0, 180deg);
    opacity: 0;
  }
}
@-webkit-keyframes kf-opacity-anime {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes kf-opacity-anime {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.p-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-wrapper__swiper {
  position: relative;
  width: 1000px;
  height: 600px;
  margin: auto;
  background-image: url(../../../images/eye.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.p-wrapper__swiper .swiper {
  height: 100%;
}
.p-wrapper__swiper .swiper-slide {
  height: 100%;
}
.p-wrapper__swiper .swiper-slide img {
  transform: scale(0.5);
  transition: transform 2s;
}
.p-wrapper__swiper .swiper-slide p {
  opacity: 0;
  transition: opacity 2s;
}
.p-wrapper__swiper .swiper-slide-active img {
  transform: scale(1);
}
.p-wrapper__swiper .swiper-slide-active p {
  opacity: 1;
}
.p-wrapper__slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.p-wrapper__slide--img {
  margin: auto;
  width: 400px;
  height: 400px;
}
.p-wrapper__slide--title {
  width: 300px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-wrapper__footer {
  width: 50vh;
}
.p-wrapper__footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.p-area {
  position: relative;
}
.p-area__main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 28vh;
}
.p-area__front-menu--lv1, .p-area__front-menu--lv3, .p-area__front-menu--lv2 {
  position: absolute;
  text-align: center;
  line-height: 14vh;
}
.p-area__scroll {
  display: inline-block;
  text-align: center;
  width: 70vh;
  position: absolute;
  top: 52vh;
  left: 34vh;
}
.p-area__scroll--img {
  -webkit-animation-name: kf-scroll-anime;
          animation-name: kf-scroll-anime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.p-area__scroll--font {
  transform: rotate(90deg);
  position: absolute;
  left: -5px;
  top: 13px;
}

@-webkit-keyframes kf-scroll-anime {
  0%, 50%, 100% {
    transform: translateY(10%);
  }
  30%, 70% {
    transform: none;
  }
}

@keyframes kf-scroll-anime {
  0%, 50%, 100% {
    transform: translateY(10%);
  }
  30%, 70% {
    transform: none;
  }
}
.p-about {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.p-about__left, .p-about__right {
  width: 250px;
  text-align: center;
}
.p-about__term--left, .p-about__term--right {
  position: absolute;
  top: 0;
  left: 250px;
  width: 70vh;
  height: 70vh;
}
.p-about__item--html dl {
  z-index: -1;
}
.p-about__item--html dt {
  opacity: 0;
  transform: translateY(100px);
}
.p-about__item--html dd {
  opacity: 0;
  transform: translateY(100px);
}
.p-about__item--html:hover dl {
  transition: all;
  z-index: 100;
}
.p-about__item--html:hover dt {
  transition: all 1s;
  transform: translateY(0);
  opacity: 1;
}
.p-about__item--html:hover dd {
  transition: all 1s;
  transition-delay: 0.5s;
  transform: translateY(0);
  opacity: 1;
}
.p-about__item--css dl {
  z-index: -1;
}
.p-about__item--css dt {
  opacity: 0;
  transform: translateY(100px);
}
.p-about__item--css dd {
  opacity: 0;
  transform: translateY(100px);
}
.p-about__item--css:hover dl {
  transition: all;
  z-index: 100;
}
.p-about__item--css:hover dt {
  transition: all 1s;
  transform: translateY(0);
  opacity: 1;
}
.p-about__item--css:hover dd {
  transition: all 1s;
  transition-delay: 0.5s;
  transform: translateY(0);
  opacity: 1;
}
.p-about__item--js dl {
  z-index: -1;
}
.p-about__item--js dt {
  opacity: 0;
  transform: translateY(100px);
}
.p-about__item--js dd {
  opacity: 0;
  transform: translateY(100px);
}
.p-about__item--js:hover dl {
  transition: all;
  z-index: 100;
}
.p-about__item--js:hover dt {
  transition: all 1s;
  transform: translateY(0);
  opacity: 1;
}
.p-about__item--js:hover dd {
  transition: all 1s;
  transition-delay: 0.5s;
  transform: translateY(0);
  opacity: 1;
}
.p-about__item--wp dl {
  z-index: -1;
}
.p-about__item--wp dt {
  opacity: 0;
  transform: translateY(100px);
}
.p-about__item--wp dd {
  opacity: 0;
  transform: translateY(100px);
}
.p-about__item--wp:hover dl {
  transition: all;
  z-index: 100;
}
.p-about__item--wp:hover dt {
  transition: all 1s;
  transform: translateY(0);
  opacity: 1;
}
.p-about__item--wp:hover dd {
  transition: all 1s;
  transition-delay: 0.5s;
  transform: translateY(0);
  opacity: 1;
}
.p-about__item--ai dl {
  z-index: -1;
}
.p-about__item--ai dt {
  opacity: 0;
  transform: translateY(100px);
}
.p-about__item--ai dd {
  opacity: 0;
  transform: translateY(100px);
}
.p-about__item--ai:hover dl {
  transition: all;
  z-index: 100;
}
.p-about__item--ai:hover dt {
  transition: all 1s;
  transform: translateY(0);
  opacity: 1;
}
.p-about__item--ai:hover dd {
  transition: all 1s;
  transition-delay: 0.5s;
  transform: translateY(0);
  opacity: 1;
}
.p-about__item--ps dl {
  z-index: -1;
}
.p-about__item--ps dt {
  opacity: 0;
  transform: translateY(100px);
}
.p-about__item--ps dd {
  opacity: 0;
  transform: translateY(100px);
}
.p-about__item--ps:hover dl {
  transition: all;
  z-index: 100;
}
.p-about__item--ps:hover dt {
  transition: all 1s;
  transform: translateY(0);
  opacity: 1;
}
.p-about__item--ps:hover dd {
  transition: all 1s;
  transition-delay: 0.5s;
  transform: translateY(0);
  opacity: 1;
}
.p-about__item--xd dl {
  z-index: -1;
}
.p-about__item--xd dt {
  opacity: 0;
  transform: translateY(100px);
}
.p-about__item--xd dd {
  opacity: 0;
  transform: translateY(100px);
}
.p-about__item--xd:hover dl {
  transition: all;
  z-index: 100;
}
.p-about__item--xd:hover dt {
  transition: all 1s;
  transform: translateY(0);
  opacity: 1;
}
.p-about__item--xd:hover dd {
  transition: all 1s;
  transition-delay: 0.5s;
  transform: translateY(0);
  opacity: 1;
}
.p-about__item--figma dl {
  z-index: -1;
}
.p-about__item--figma dt {
  opacity: 0;
  transform: translateY(100px);
}
.p-about__item--figma dd {
  opacity: 0;
  transform: translateY(100px);
}
.p-about__item--figma:hover dl {
  transition: all;
  z-index: 100;
}
.p-about__item--figma:hover dt {
  transition: all 1s;
  transform: translateY(0);
  opacity: 1;
}
.p-about__item--figma:hover dd {
  transition: all 1s;
  transition-delay: 0.5s;
  transform: translateY(0);
  opacity: 1;
}
.p-about__center {
  position: relative;
}
.p-about__center ul {
  display: block;
}
.p-about__icon--html, .p-about__icon--figma, .p-about__icon--xd, .p-about__icon--ps, .p-about__icon--ai, .p-about__icon--wp, .p-about__icon--js, .p-about__icon--css {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: opacity 3s;
}
.p-feature__title {
  -webkit-animation-name: title-glitch;
          animation-name: title-glitch;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.p-feature__text {
  width: 50vh;
  height: 36vh;
  overflow: hidden;
}
.p-feature__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.p-feature__icon {
  width: 8vh;
  height: 8vh;
}
.p-feature__icon a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes title-glitch {
  0% {
    transform: none;
  }
  33% {
    transform: none;
  }
  33.3% {
    transform: skewX(30deg);
  }
  33.6% {
    transform: skewX(-30deg);
  }
  33.9% {
    transform: none;
  }
  66% {
    transform: none;
  }
  66.3% {
    transform: skewX(5deg);
  }
  66.6% {
    transform: skewX(-5deg);
  }
  66.9% {
    transform: none;
  }
  77% {
    transform: none;
  }
  77.3% {
    transform: skewX(15deg);
  }
  77.6% {
    transform: skewX(-15deg);
  }
  77.9% {
    transform: none;
  }
}

@keyframes title-glitch {
  0% {
    transform: none;
  }
  33% {
    transform: none;
  }
  33.3% {
    transform: skewX(30deg);
  }
  33.6% {
    transform: skewX(-30deg);
  }
  33.9% {
    transform: none;
  }
  66% {
    transform: none;
  }
  66.3% {
    transform: skewX(5deg);
  }
  66.6% {
    transform: skewX(-5deg);
  }
  66.9% {
    transform: none;
  }
  77% {
    transform: none;
  }
  77.3% {
    transform: skewX(15deg);
  }
  77.6% {
    transform: skewX(-15deg);
  }
  77.9% {
    transform: none;
  }
}
.u-margin__feature--title {
  margin-top: 8vh;
}
.u-margin__feature--text {
  margin: auto;
  margin-top: 4vh;
}
.u-margin__term {
  margin-top: 4vh;
}
.u-margin__detail {
  margin: auto;
  margin-top: 8vh;
}

.pace-running {
  background-color: red;
  width: 100%;
  height: 100%;
}

.pace-running #l-container {
  opacity: 0 !important;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 50px;
  overflow: hidden;
}

.pace .pace-progress {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  transform: translate3d(0, 0, 0);
  display: block;
  position: absolute;
  right: 100%;
  margin-right: -7px;
  width: 93%;
  top: 7px;
  height: 14px;
  font-size: 12px;
  background: #29d;
  color: #29d;
  line-height: 60px;
  font-weight: bold;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  -ms-box-shadow: 120px 0 #fff, 240px 0 #fff;
  box-shadow: 120px 0 #fff, 240px 0 #fff;
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: inline-block;
  position: fixed;
  width: 45px;
  text-align: right;
  right: 0;
  padding-right: 16px;
  top: 4px;
}

.pace .pace-progress[data-progress-text="0%"]:after {
  right: -200px;
}

.pace .pace-progress[data-progress-text="1%"]:after {
  right: -198.14px;
}

.pace .pace-progress[data-progress-text="2%"]:after {
  right: -196.28px;
}

.pace .pace-progress[data-progress-text="3%"]:after {
  right: -194.42px;
}

.pace .pace-progress[data-progress-text="4%"]:after {
  right: -192.56px;
}

.pace .pace-progress[data-progress-text="5%"]:after {
  right: -190.7px;
}

.pace .pace-progress[data-progress-text="6%"]:after {
  right: -188.84px;
}

.pace .pace-progress[data-progress-text="7%"]:after {
  right: -186.98px;
}

.pace .pace-progress[data-progress-text="8%"]:after {
  right: -185.12px;
}

.pace .pace-progress[data-progress-text="9%"]:after {
  right: -183.26px;
}

.pace .pace-progress[data-progress-text="10%"]:after {
  right: -181.4px;
}

.pace .pace-progress[data-progress-text="11%"]:after {
  right: -179.54px;
}

.pace .pace-progress[data-progress-text="12%"]:after {
  right: -177.68px;
}

.pace .pace-progress[data-progress-text="13%"]:after {
  right: -175.82px;
}

.pace .pace-progress[data-progress-text="14%"]:after {
  right: -173.96px;
}

.pace .pace-progress[data-progress-text="15%"]:after {
  right: -172.1px;
}

.pace .pace-progress[data-progress-text="16%"]:after {
  right: -170.24px;
}

.pace .pace-progress[data-progress-text="17%"]:after {
  right: -168.38px;
}

.pace .pace-progress[data-progress-text="18%"]:after {
  right: -166.52px;
}

.pace .pace-progress[data-progress-text="19%"]:after {
  right: -164.66px;
}

.pace .pace-progress[data-progress-text="20%"]:after {
  right: -162.8px;
}

.pace .pace-progress[data-progress-text="21%"]:after {
  right: -160.94px;
}

.pace .pace-progress[data-progress-text="22%"]:after {
  right: -159.08px;
}

.pace .pace-progress[data-progress-text="23%"]:after {
  right: -157.22px;
}

.pace .pace-progress[data-progress-text="24%"]:after {
  right: -155.36px;
}

.pace .pace-progress[data-progress-text="25%"]:after {
  right: -153.5px;
}

.pace .pace-progress[data-progress-text="26%"]:after {
  right: -151.64px;
}

.pace .pace-progress[data-progress-text="27%"]:after {
  right: -149.78px;
}

.pace .pace-progress[data-progress-text="28%"]:after {
  right: -147.92px;
}

.pace .pace-progress[data-progress-text="29%"]:after {
  right: -146.06px;
}

.pace .pace-progress[data-progress-text="30%"]:after {
  right: -144.2px;
}

.pace .pace-progress[data-progress-text="31%"]:after {
  right: -142.34px;
}

.pace .pace-progress[data-progress-text="32%"]:after {
  right: -140.48px;
}

.pace .pace-progress[data-progress-text="33%"]:after {
  right: -138.62px;
}

.pace .pace-progress[data-progress-text="34%"]:after {
  right: -136.76px;
}

.pace .pace-progress[data-progress-text="35%"]:after {
  right: -134.9px;
}

.pace .pace-progress[data-progress-text="36%"]:after {
  right: -133.04px;
}

.pace .pace-progress[data-progress-text="37%"]:after {
  right: -131.18px;
}

.pace .pace-progress[data-progress-text="38%"]:after {
  right: -129.32px;
}

.pace .pace-progress[data-progress-text="39%"]:after {
  right: -127.46px;
}

.pace .pace-progress[data-progress-text="40%"]:after {
  right: -125.6px;
}

.pace .pace-progress[data-progress-text="41%"]:after {
  right: -123.74px;
}

.pace .pace-progress[data-progress-text="42%"]:after {
  right: -121.88px;
}

.pace .pace-progress[data-progress-text="43%"]:after {
  right: -120.02px;
}

.pace .pace-progress[data-progress-text="44%"]:after {
  right: -118.16px;
}

.pace .pace-progress[data-progress-text="45%"]:after {
  right: -116.3px;
}

.pace .pace-progress[data-progress-text="46%"]:after {
  right: -114.44px;
}

.pace .pace-progress[data-progress-text="47%"]:after {
  right: -112.58px;
}

.pace .pace-progress[data-progress-text="48%"]:after {
  right: -110.72px;
}

.pace .pace-progress[data-progress-text="49%"]:after {
  right: -108.86px;
}

.pace .pace-progress[data-progress-text="50%"]:after {
  right: -107px;
}

.pace .pace-progress[data-progress-text="51%"]:after {
  right: -105.14px;
}

.pace .pace-progress[data-progress-text="52%"]:after {
  right: -103.28px;
}

.pace .pace-progress[data-progress-text="53%"]:after {
  right: -101.42px;
}

.pace .pace-progress[data-progress-text="54%"]:after {
  right: -99.56px;
}

.pace .pace-progress[data-progress-text="55%"]:after {
  right: -97.7px;
}

.pace .pace-progress[data-progress-text="56%"]:after {
  right: -95.84px;
}

.pace .pace-progress[data-progress-text="57%"]:after {
  right: -93.98px;
}

.pace .pace-progress[data-progress-text="58%"]:after {
  right: -92.12px;
}

.pace .pace-progress[data-progress-text="59%"]:after {
  right: -90.26px;
}

.pace .pace-progress[data-progress-text="60%"]:after {
  right: -88.4px;
}

.pace .pace-progress[data-progress-text="61%"]:after {
  right: -86.54px;
}

.pace .pace-progress[data-progress-text="62%"]:after {
  right: -84.68px;
}

.pace .pace-progress[data-progress-text="63%"]:after {
  right: -82.82px;
}

.pace .pace-progress[data-progress-text="64%"]:after {
  right: -80.96px;
}

.pace .pace-progress[data-progress-text="65%"]:after {
  right: -79.1px;
}

.pace .pace-progress[data-progress-text="66%"]:after {
  right: -77.24px;
}

.pace .pace-progress[data-progress-text="67%"]:after {
  right: -75.38px;
}

.pace .pace-progress[data-progress-text="68%"]:after {
  right: -73.52px;
}

.pace .pace-progress[data-progress-text="69%"]:after {
  right: -71.66px;
}

.pace .pace-progress[data-progress-text="70%"]:after {
  right: -69.8px;
}

.pace .pace-progress[data-progress-text="71%"]:after {
  right: -67.94px;
}

.pace .pace-progress[data-progress-text="72%"]:after {
  right: -66.08px;
}

.pace .pace-progress[data-progress-text="73%"]:after {
  right: -64.22px;
}

.pace .pace-progress[data-progress-text="74%"]:after {
  right: -62.36px;
}

.pace .pace-progress[data-progress-text="75%"]:after {
  right: -60.5px;
}

.pace .pace-progress[data-progress-text="76%"]:after {
  right: -58.64px;
}

.pace .pace-progress[data-progress-text="77%"]:after {
  right: -56.78px;
}

.pace .pace-progress[data-progress-text="78%"]:after {
  right: -54.92px;
}

.pace .pace-progress[data-progress-text="79%"]:after {
  right: -53.06px;
}

.pace .pace-progress[data-progress-text="80%"]:after {
  right: -51.2px;
}

.pace .pace-progress[data-progress-text="81%"]:after {
  right: -49.34px;
}

.pace .pace-progress[data-progress-text="82%"]:after {
  right: -47.48px;
}

.pace .pace-progress[data-progress-text="83%"]:after {
  right: -45.62px;
}

.pace .pace-progress[data-progress-text="84%"]:after {
  right: -43.76px;
}

.pace .pace-progress[data-progress-text="85%"]:after {
  right: -41.9px;
}

.pace .pace-progress[data-progress-text="86%"]:after {
  right: -40.04px;
}

.pace .pace-progress[data-progress-text="87%"]:after {
  right: -38.18px;
}

.pace .pace-progress[data-progress-text="88%"]:after {
  right: -36.32px;
}

.pace .pace-progress[data-progress-text="89%"]:after {
  right: -34.46px;
}

.pace .pace-progress[data-progress-text="90%"]:after {
  right: -32.6px;
}

.pace .pace-progress[data-progress-text="91%"]:after {
  right: -30.74px;
}

.pace .pace-progress[data-progress-text="92%"]:after {
  right: -28.88px;
}

.pace .pace-progress[data-progress-text="93%"]:after {
  right: -27.02px;
}

.pace .pace-progress[data-progress-text="94%"]:after {
  right: -25.16px;
}

.pace .pace-progress[data-progress-text="95%"]:after {
  right: -23.3px;
}

.pace .pace-progress[data-progress-text="96%"]:after {
  right: -21.44px;
}

.pace .pace-progress[data-progress-text="97%"]:after {
  right: -19.58px;
}

.pace .pace-progress[data-progress-text="98%"]:after {
  right: -17.72px;
}

.pace .pace-progress[data-progress-text="99%"]:after {
  right: -15.86px;
}

.pace .pace-progress[data-progress-text="100%"]:after {
  right: -14px;
}

.pace .pace-activity {
  position: absolute;
  width: 100%;
  height: 28px;
  z-index: 2001;
  box-shadow: inset 0 0 0 2px #29d, inset 0 0 0 7px #FFF;
  border-radius: 10px;
}

.pace.pace-inactive {
  display: none;
}