@use "../../foundation/_mixin.scss";

.c-font {
   &__header-menu {
      @include mixin.fontRed;
      font-size  : 1.8rem;
      font-weight: 500;
   }
   &__main {
      @include mixin.mainRed;
      font-size: 18vh;
      font-weight: 700;
   }
   &__main-menu--list {
      @include mixin.mainFont;
      font-size: 7.5vh;
      font-weight: 600;
   }
   &__scroll {
      @include mixin.fontRed;
      font-size  : 2.7vh;
      font-weight: 500;
   }
   &__footer-menu {
      @include mixin.fontRed;
      font-size  : 1.8rem;
      font-weight: 500;
   }
   &__feature--text {
      @include mixin.fontWhiteText;
      font-size : 2.5vh;
      text-align: start;
   }

   &__swiper {
      @include mixin.mainRed;
      font-size     : 1.8rem;
      text-align    : center;
      letter-spacing: 4px;
   }
   &__about {
      display: inline-block;
      cursor: pointer;
      @include mixin.mainRed;
      font-size: 3.2rem;
   }
   &__skill-detail {
      @include mixin.fontWhiteText;
      font-size : 2.0vh;
      text-align: start;
      width     : 50vh;
   }
}
