
.c-icon {
   &__feature--twitter {
      box-sizing         : border-box;
      border-radius      : 35vh;
      background-image   : url(../../../images/skill-icon/twitter.svg);
      background-position: center;
      background-repeat  : no-repeat;
      background-size    : 110%;
      opacity            : 0.8;
      //background-color   :black;
      //border             : #000000 0.5px solid;
      //background-blend-mode:lighten;
   }
   &__feature--github {
      @extend .c-icon__feature--twitter;
      background-image   : url(../../../images/skill-icon/github.svg);
      background-color   :white;
   }
   &__circle {
      &--html {
         width              : 10vh;
         height             : 10vh;
         box-sizing         : border-box;
         border             : #000000 0.5px solid;
         border-radius      : 35vh;
         background-image   : url(../../../images/skill-icon/html-5.svg);
         background-color   : #000000;
         background-position: center;
         background-size    : 60%;
         background-repeat  : no-repeat;
      }
      &--css {
         @extend .c-icon__circle--html;
         background-image: url(../../../images/skill-icon/css.svg);
         background-position : center;
         background-size: 80%
      }
      &--js {
         @extend .c-icon__circle--html;
         background-image: url(../../../images/skill-icon/javascript.svg);
         background-size : 100%;
      }
      &--wp {
         @extend .c-icon__circle--html;
         background-image: url(../../../images/skill-icon/wordpress-icon.svg);
         background-size : 100%;
         background-color: white;
      }
      &--ai {
         @extend .c-icon__circle--html;
         background-image: url(../../../images/skill-icon/illustrator.svg);
         background-size : 10.5vh;
      }
      &--ps {
         @extend .c-icon__circle--html;
         background-image: url(../../../images/skill-icon/photoshop.svg);
         background-size : 10.5vh;
      }
      &--xd {
         @extend .c-icon__circle--html;
         background-image: url(../../../images/skill-icon/xd.svg);
         background-size : 10.5vh;
      }
      &--figma {
         @extend .c-icon__circle--html;
         background-image: url(../../../images/skill-icon/figma.svg);
         background-size : 100%;
      }
   }
}