@use "../../foundation/_mixin.scss";
@use "../../foundation/_variables.scss";

.c-title {
   &__main {
      @include mixin.mainRed;
      font-size  : 18vh;
      font-weight: 700;
   }
   &__feature--title {
      //@include mixin.fontWhite;
      //font-size  : 5vh;
      //font-weight: bold;
      //text-align : center;
      opacity: 0.8;
      width: 35vh;
      margin: auto;
   }
   &__skill-font {
      @include mixin.fontWhiteTitle;
      font-size  : 5vh;
      font-weight: bold;
      text-align : center;
   }
}