.u-margin {
   &__feature--title {
      margin-top: 8vh;
   }
   &__feature--text {
      margin    : auto;
      margin-top: 4vh;
   }
   &__term {
      margin-top: 4vh;
   }
   &__detail {
      margin    : auto;
      margin-top: 8vh;
   }
}