@use "../../foundation/_mixin.scss";

.p-feature {
   &__title {
      @include mixin.animation(
         $name: title-glitch,
         $duration: 3s,
         $iteration-count: infinite
      )
   }
   &__text {
      width   : 50vh;
      height  : 36vh;
      overflow: hidden;
   }
   &__link {
      display        : flex;
      flex-direction : row;
      justify-content: center;
   }
   &__icon {
      width : 8vh;
      height: 8vh;
      a {
         display: inline-block;
         width  : 100%;
         height : 100%;
      }
   }
}

@keyframes title-glitch {
   0% {
     transform: none;
   }
   33% {
     transform: none;
   }
   33.3% {
     transform: skewX(30deg);
   }
   33.6% {
     transform: skewX(-30deg);
   }
   33.9% {
     transform: none;
   }
   66% {
     transform: none;
   }
   66.3% {
     transform: skewX(5deg);
   }
   66.6% {
     transform: skewX(-5deg);
   }
   66.9% {
     transform: none;
   }
   77% {
     transform: none;
   }
   77.3% {
     transform: skewX(15deg);
   }
   77.6% {
     transform: skewX(-15deg);
   }
   77.9% {
     transform: none;
   }
 }